<footer class="site-footer">
  <div class="container footer-content">
    <div class="footer-links">
      <a href="https://github.com/LogicalOutcomes/konote">{{ i18n "footer_github" | default "GitHub Repository" }}</a>
      <a href="{{ "documentation/" | relLangURL }}">{{ i18n "nav_documentation" }}</a>
      <a href="{{ "faq/" | relLangURL }}">{{ i18n "nav_faq" }}</a>
      <a href="{{ "services/" | relLangURL }}">{{ i18n "nav_services" }}</a>
    </div>
    <p class="footer-copyright">
      {{ i18n "footer_copyright" }}
    </p>
  </div>
</footer>
