<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex, nofollow">
<meta name="description" content="{{ .Description | default .Site.Params.description }}">
<title>{{ .Title }} | {{ .Site.Title }}</title>
<link rel="icon" href="/favicon.ico" sizes="32x32">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
<link rel="stylesheet" href="/css/style.css">
{{ $pagefindCSS := printf "/%s/_pagefind/pagefind-ui.css" .Language.Lang }}
<link rel="stylesheet" href="{{ $pagefindCSS }}">
